@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


:root {

    --dark-clr: #2d2d2d;
    --light-clr: #d3d3d3;
    --clr-primary: #0082ff;
    --clr-foho: #00dcef;
    --clr-sel: #00b6ff;

    --ff-title: 'Open Sans', sans-serif;
    --ff-text: 'Montserrat', sans-serif;

}

*,
*::before,
*::after {

    box-sizing: inherit;

}

html {

    box-sizing: border-box;
    font-family: var(--ff-title);
    color: black;
    background-color: var(--dark-clr);
    scroll-behavior: smooth;

}

body {

    margin: 0;
    text-align: center;

}

img {

    display: block;
    width: 5em;

}

section {

    padding: 3em 1em;

}

/*
=============== 
   Typografy 
===============
*/

h1,
h2,
h3,
h4,
h5,
p {

    margin: 0;

}

h2,
h3 {

    font-family: var(--ff-title);
    line-height: 0.8;

}

h2 {
    font-size: 4rem;
}

p {

    margin-bottom: 0.85em;
    font-family: var(--ff-text)

}

p:last-child {

    margin-bottom: 0;

}

a {

    text-decoration: none;
    color: inherit;

}

.text-primary {

    color: var(--clr-primary);

}

.section-title-small {
    font-size: 1.5rem;
}

.section-title-small small {
    font-size: .7em;
    line-height: 2rem;
    display: block;
}



h2 {
    font-size: 4rem;
}h3 {
    font-size: 2rem;
}h4 {
    font-size: 1rem;
}

/*
==============
  Navigation 
==============
*/

header {

    padding: 0em 0 2em;

}

.selected {
    color: var(--clr-sel);
    text-decoration: underline;
}

nav ul{

    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    background-color: #222;


}

nav a {

    display: inline-block;
    padding: 0.5em;
    color: var(--clr-primary);
    text-decoration: none;
    transition: all 250ms ease-in-out;
    font-weight: 900;
    transition: all 1s ease-in-out;

}

nav a:hover,
nav a:focus {

    color: var(--clr-foho);
    text-decoration: underline;

}

/*
=============
   Buttons
=============
*/

.btn-group {

    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    flex-direction: column;

}

.btn {

    padding: .75em 2.5em;
    color: white;
    text-decoration: none;
    display: block;
    margin: 0.5em 0;
    border-radius: .35em;
    box-shadow: 0 0 10px black;
    transition: all 200ms ease-in-out;
    opacity: .7;

}

.btn:hover,
.btn:focus {

    opacity: 1;

}


.btn-primary {
    
    background: var(--clr-primary);

}
/*
===================
  Homepage styles 
===================
*/

.logo {

    font-family: var(--ff-title);
    color: var(--light-clr);
    padding: .5em;

}



.logo-flx {

    display: flex;
    justify-content: space-between;

}

.image {

    width: 5em;
    height: 5em;

}


.intro {

    background-color: var(--dark-clr);
    background-image: url(../assets/images/zkp.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    color: var(--light-clr);
    text-align: center;
    padding: 15vh 1em;

}


.about-me {

    background-color: #222;
    display: flex;
    flex-direction: column;
    color: var(--light-clr);
    font-weight: 700;
    padding: 0;

}

.about-meha {

    background-color: #222;
    display: flex;
    flex-direction: column;
    color: var(--light-clr);
    font-weight: 700;
    padding: 0em;

}

.about-me__intro {

    background-color: #222;
    background-image: url(../assets/images/motive-base.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    padding: 3em 1em 1.5em;

}

.about-meha__intro {

    background-color: #222;
    background-image: url(../assets/images/motive-base.jpg);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    padding: 3em 1em 1.5em;

}

.about-me__body {

    padding: 1.5em 1em 3em;

}

.about-meha__body {

    padding: 1.5em 1em 3em;

}

.download-projects {

    background: #222;
    color: var(--light-clr);

}

footer {

    background: #333;
    padding: 3em 1em;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 1em;

}

footer a {

    color: inherit;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;

}

.footer-nav {

    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

}


.footer-nav a {

    padding: .75em;
    text-decoration: none;
    opacity: .7;
    transition: all 200ms ease-in-out;

}

.footer-nav a:hover, 
.footer-nav a:focus {

    text-decoration: underline;
    color: var(--clr-primary);
    opacity: 1;

}

.credits {

    margin-left: auto;
    margin-right: auto;

}

@media only screen and (min-width: 750px) {

    section {
        padding: 6em 1em;
    }

    .btn-group {

        flex-direction: row;
        margin-top: 1em;
        justify-content: center;

    }

    .btn + .btn {

        margin-left: 0.5em;

    }

    .about-me {

        flex-direction: row;

    }

    .about-meha {

        flex-direction: row-reverse;

    }

    .about-me__intro,
    .about-me__body {

        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        padding: 4em 1em;
        justify-content: center;

    }
    
    .about-meha__intro,
    .about-meha__body {

        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        padding: 4em 1em;
        justify-content: center;

    }

    .about-me__intro {

        text-align: right;


    }
    
    .about-meha__intro {

        text-align: right;


    }

    .about-me__intro > * {

        max-width: 27rem;
        margin-left: auto;

    }
    
    .about-meha__intro > * {

        max-width: 27rem;
        margin-left: auto;

    }

    .about-me__body {

        text-align: left;


    }

    .about-meha__body {

        text-align: left;


    }

    .about-me__body > * {

        max-width: 27rem;
        margin-right: auto;

    }
    
    .about-meha__body > * {

        max-width: 27rem;
        margin-right: auto;

    }

    .download-projects * {

        max-width: 60ch;
        margin-left: auto;
        margin-right: auto;

    }



}


/*
====================
       webkit
====================
*/

::-webkit-scrollbar {
 
    width: 7px;

}

::-webkit-scrollbar-thumb {

    background: var(--dark-clr);
    border-radius: 2.5px;
    width: 5px;

}

::-webkit-scrollbar-track {

    background: #555;

}


